/* General Form */
*{

}
body{
    font-family: sans-serif;
}

/* Navigation */

nav ul{
    list-style-type: none;
    padding-left: 0%;
    text-align: center;
}
nav li{
    display: inline;
    padding: 0 2rem 2rem 0;
}
nav a{
    text-decoration: none;
    color: purple;
}
nav a:hover{
    text-decoration: underline;
}
nav a:visited{
    
}

/* Contact Form styles */

label{
    display: inline-block;
    min-width: 90px;
    text-align: right;
}
input,
textarea{
    border: 1px solid;
    width: 300px;
    font: 1em sans-sarif;
}