*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    line-height: 2;
}
h1, h2, h3{
    color: purple;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 3rem;
    font-weight: bold;
}
h2{
    text-transform: uppercase;
}
ul{
    list-style-type: square;
}